<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
  </head>
  <body>
    {% if u%}
    <h1>{{ u.name }}</h1>
    <p>Age: {{u.age}}</p>
    <p>Movies reviewed: {{movies_reviewed}}</p>
    <h4>Movie list</h4>
      <ol>
        {%for movie in top10%}
        <li>&emsp;{{movie.rating}}/5 - <a href="/recommend_app/{{ movie.movie.id }}/">{{ movie.movie.title }}</a></li>
        {%endfor%}
      </ol>
    {% else %}
    <p>NOPE</p>
    {% endif %}
  </body>
</html>
